################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SC9-1-Two-CD/Sitecore.AzureToolkit
