# Add any directories, files, or patterns you don't want to be tracked by version control

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio 2015/2017 cache/options directory
.vs/

#Certificates
certificates/

.DS_Store
**/.DS_Store

scripts/temp_*